*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;/* PARA QUE RESPETE LAS DIMENSIONES  */
    }

    html{
    height: 100%;
    }
    body {
    font-family: 'montserrat',sans-serif;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0;
    min-height: 100%;
    width: 100%;
    }

.navbar{
    background-color: #788594;
    height: 80px;
    place-items: center;
}
.navbar h3{
    color: black;
    margin-left: 20px;
    padding: 10px;
    font-weight: 900;
}
.menuList :hover{
    background-color: #bed2e5;
}
.menuButton{
    padding: 10px;
    font-weight: 900;
}
.menuButton:hover{
    background-color: #47757a;
}
.carritoContainer{
    font-size: 13px;
    font-weight: bold;
    font-family: 'montserrat',sans-serif;
    padding: 10px;
    margin-right: 20px;
    font-weight: 900;
}
.greetingContainer{
    display: grid;
    height: 540px;
    background-image:url(./assets/banner.png);
    place-items: center;
}
.greetingContainer h1{
    font-size: 25px;
    color: whitesmoke;
    margin-bottom: 500px;
}

